@model AlbumProject.Models.Album

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Subject</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AlbumTitle)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AlbumTitle)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AlbumSongCount)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AlbumSongCount)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.AlbumGenre)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.AlbumGenre)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.AlbumScore)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.AlbumScore)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.AlbumYear)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.AlbumYear)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Index">Back to List</a>
</div>
