@model IEnumerable<AlbumProject.Models.Album>

@{
    ViewData["Title"] = "Index";
}

<br />
<br />
<br />

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Sing.SingerName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Sing.SingerLName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Sing.SingerNationality)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Sing.SingerAge)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AlbumTitle)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AlbumSongCount)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AlbumGenre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AlbumScore)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AlbumYear)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Sing.SingerName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Sing.SingerLName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Sing.SingerNationality)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Sing.SingerAge)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.AlbumTitle)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.AlbumSongCount)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.AlbumGenre)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.AlbumScore)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.AlbumYear)
                </td>
                <td>
                    <a asp-action="Details" asp-route-id="@item.AlbumId">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.AlbumId">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
