@model AlbumProject.Models.Singer

@{
    ViewData["Title"] = "Delete";
}
<br />
<br />
<br />
<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Subject</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SingerName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SingerName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SingerLName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SingerLName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.SingerNationality)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.SingerNationality)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.SingerAge)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.SingerAge)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="SingerId" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
